.DS_Store
.thumbs.db
src/main/app/.quasar/
src/main/app/node_modules/

# Quasar core related directories
.quasar
/src/main/app/dist

# Cordova related directories and files
/src/main/app/src-cordova/node_modules
/src/main/app/src-cordova/platforms
/src/main/app/src-cordova/plugins
/src/main/app/src-cordova/www

# Capacitor related directories and files
/src/main/app/src-capacitor/www
/src/main/app/src-capacitor/node_modules

# BEX related directories and files
/src/main/app/src-bex/www
/src/main/app/src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
src/main/app/.quasar/
src/main/app/yarn.lock
src/main/app/node_modules/
.attach_pid31927
.attach_pid26357
/.attach_pid31700
